<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script>
      //   const roomId = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
    ></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>

    <style>
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 300px;
        gap: 1rem;
        place-items: center;
      }
      video {
        width: 100%;
        height: 100%;
        background-color: red;
        object-fit: cover;
      }
    </style>
  </head>
  <body class="bg-dark text-white m-4">
    <h1>Room</h1>
    <h2>ID: <%=roomId%></h2>
    <div id="video-grid"></div>
  </body>
</html>
